<html>

<title>
    House Rental Prediction
</title>

<h1 style="font-family:verdana;">Please Enter Your Inputs</h1> 



<body style="background-color:rgb(78, 121, 215);">
    

    <p>Choose type of house:</p>


    
        <form action="/result" method="get">
            <form action="{{ url_for('main') }}" method="post">
                <input type="radio" id="House" name="fav_language" value="House">
                <label for="House">House</label><br>
                <input type="radio" id="Apartment" name="fav_language" value="Apartment">
                <label for="Apartment">Apartment</label><br>
                <input type="radio" id="Studio" name="fav_language" value="Studio">
                <label for="Studio">Studio</label><br>
            </form>
            <form>
                <label for="area">Area (square meter):</label><br>
                <input type="text" id="area" name="area"><br>
            </form>

            <p>Choose number of rooms:</p>

                <form>
                    <input type="radio" id="1" name="fav_language" value="1">
                    <label for="1">1</label><br>
                    <input type="radio" id="2" name="fav_language" value="2">
                    <label for="2">2</label><br>
                    <input type="radio" id="3" name="fav_language" value="3">
                    <label for="3">3</label><br>
                    <input type="radio" id="4" name="fav_language" value="4">
                    <label for="4">4</label>
                </form>
                <p>Choose interior:</p>
                <form>
                    <input type="radio" id="Upholstered or furnished" name="fav_language" value="Upholstered or furnished">
                    <label for="Upholstered or furnished">Upholstered or furnished</label><br>
                    <input type="radio" id="Furnished" name="fav_language" value="Furnished">
                    <label for="Furnished">Furnished</label><br>
                    <input type="radio" id="Upholstered" name="fav_language" value="Upholstered">
                    <label for="Upholstered">Upholstered</label><br>
                    <input type="radio" id="Unfernished" name="fav_language" value="Unfernished">
                    <label for="Unfernished">Unfernished</label>
                </form>

            <label for="neighborhood">Choose a neighborhood:</label>
            <select name="neighborhood" id="neighborhood">
                <option value="Zuid">Zuid</option>
                <option value="West">West</option>
                <option value="Binnenstad en Oostelijk Havengebied">Binnenstad en Oostelijk Havengebied</option>
                <option value="Nieuw-West">Nieuw-West</option>
                <option value="Oost">Oost</option>
                <option value="Noord oost">Noord oost</option>
                <option value="Noord west">Noord west</option>
                <option value="Zuidoost">Zuidoost</option>
                <option value="Buitenveldert">Buitenveldert</option>
                <option value="IJburg">IJburg</option>
            </select>
            <br><br>
            <input type="submit" value="Submit"><br>
        </form><br>
</body>
</html>